{{ > /includes/header }}
<h1>Page index</h1>
<a class="ui button" href="/create">
    <i class ="ui plus icon"></i>
    Créer un message
</a>
<h2>Messages</h2>
<div class="ui relaxed divided list">
    {{#messages}}
    <div class="item">
        <div class="right floated content">
            <a href="/update/{{code}}" class="ui small circular basic icon button">
                <i class="ui edit icon"></i>
            </a>
        </div>
        <i class="large {{icon}} {{color}} middle aligned icon"></i>
        <div class="content">
            <a class="header">{{title}}</a>
            <div class="description">{{description}}</div>
        </div>
    </div>
    {{/messages}}

    {{^messages}}
    <div class="ui message"> Aucun message</div>
    {{/messages}}
</div>

{{#toast}}
<script>
    $.toast({
        title: 'Ajout de message',
        message: 'Le message `{{title}}` a été ajouté !',
        showProgress: 'top',
        class: 'success',
        progressUp: true
    });
</script>

{{/toast}}
{{ > /includes/footer }}